.supplies {
  background-image: url(img/bagg.svg);
  background-size: cover;
  aspect-ratio: 1938.9/619.3;
  position: relative;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding-left: 20%;
  padding-right: 20%;
  gap: 8%;
  position: relative;
}

.grid_1-1-1-1-1 p {
  text-align: center;
  font-family: roboto;
  font-weight: bold;
  font-size: small;
  margin-top: 5%;
}

.h2_digital {
  text-align: center;
  margin-bottom: 2%;
  margin-top: 5%;
  font-family: roboto;
  text-transform: uppercase;
  position: relative;
}

.sammen {
  position: relative;
  top: 24%;
}

/** Hover effekt på værktøj **/
.visual:hover,
.adobe:hover,
.figma:hover,
.final:hover,
.pixel:hover {
  transform: scale(1.1); /** Gør billedet større **/
  transition: transform 0.3s ease; /** Tilføjer en glidende overgang **/
}

.om_mig {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  /** CHATTEN **/
  place-items: center; /* Kombinerer align-items og justify-items */
}

p {
  max-width: 65ch; /** Begrænser til maks. 65 tegn pr. linje **/
  line-height: 1.6;
  font-family: lato; /** Font **/
}

.knap {
  display: inline-block; /* Gør linket til en blok, der kan styles */
  background-color: #eba7fe; /* Grøn baggrund */
  padding: 10px 20px; /* Indvendig afstand */
  text-align: center; /* Centrer tekst */
  cursor: pointer; /* Hånd-markør */
}

.knap a {
  text-decoration: none; /** Fjerner underscore **/
  color: black; /** Farve **/
  font-family: roboto; /** Font **/
  font-size: 0.9rem;
}

.knap:hover {
  background-color: lavender; /* Mørkere grøn ved hover */
  font-weight: bold; /** Fed **/
  transform: scale(1.05); /** Zoomer ind  **/
  /** Chatten **/
  transition: transform 0.3s ease; /** Tilføjer en glidende overgang **/
}

.knappen {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.knap_mig {
  grid-column: 2;
  justify-self: center;
  padding-top: 2%;
}

.tekstfelt {
  grid-column: span 2;
}

h1 {
  font-family: roboto;
  text-transform: uppercase;
  padding-bottom: 2%;
}

h3 {
  font-family: roboto;
  text-transform: uppercase;
  padding-bottom: 2%;
  text-decoration: underline;
}

.li_h1 {
  color: pink;
  font-family: roboto;
  list-style: none;
  font-weight: bold;
}
.mig {
  width: 100%;
}

#tab2 {
  text-align: center;
}

#tab3 {
  text-align: right;
}

@media screen and (max-width: 1087px) {
  .grid {
    width: 80%; /** Størrelse **/
    position: relative; /** Forbliver + justering **/
    top: 24%; /** Højre **/
    inline-size: auto;
  }

  .grid_1-1-1-1-1 p {
    text-align: center;
    font-weight: bold;
    margin-top: 5%;
    font-size: 10px;
    justify-content: center;
  }

  .sammen {
    position: relative;
    top: 20%;
  }
}

@media screen and (max-width: 790px) {
  .h2_digital {
    font-size: 1rem;
  }

  .grid_1-1-1-1-1 p {
    font-size: 10px;
  }

  .grid {
    padding-bottom: 15%;
  }

  .om_mig {
    grid-template-columns: 1fr 1fr;
  }
  .tekstfelt {
    grid-column: span 1;
  }

  p {
    font-size: 0.8rem;
  }

  h1 {
    font-size: 1.5rem;
  }
  .overskrift_list a {
    font-size: 0.9rem;
  }

  h4 {
    font-size: 0.8rem;
  }

  .kategori {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; /** FLere kolonner for større bølge **/
    padding-left: 20%;
    padding-right: 20%;
    gap: 5%;
    column-gap: 20%;
    position: relative;
    width: 80%;
    inline-size: auto;
    padding-top: 30%;
    padding-bottom: 40%;
  }

  .grid_1-1-1-1-1 {
    margin-top: 15%;
  }

  .grid_1-1-1-1-1 p {
    font-size: 15px;
  }

  .h2_digital {
    font-size: 1rem;
    top: 5%;
    position: absolute;
    padding-left: 25%;
    padding-right: 25%;
    font-size: 20px;
  }

  .om_mig {
    grid-template-columns: 1fr;
  }
  .tekstfelt {
    grid-column: span 1;
  }

  p {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.9rem;
  }
  .overskrift_list a {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.9rem;
  }

  .kategori {
    font-size: 0.9rem;
  }

  .om_mig {
    margin-bottom: -15%;
  }
}

#menu1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#menu1 {
  justify-content: center;
}

/* Skjul alle tabs som standard */
.tab-content {
  display: none;
}

/* Aktivér den valgte tab med JavaScript */
.tab-content.active {
  display: block;
}

.overskrift_list {
  font-family: roboto;
  font-weight: bold;
  font-size: 1.2rem;
  list-style: none;
  padding-bottom: 5%;
}

h4 {
  font-family: roboto;
  color: pink;
  font-weight: bold;
}

.kategori {
  list-style: none;
  padding-bottom: 2%;
  font-family: lato; /** Font **/
}

/** underlinje **/
.overskrift_list a {
  position: relative;
  text-decoration: none;
  color: black; /** Farve **/
}

.overskrift_list a::after {
  content: "";
  position: absolute;
  left: 0; /** Får linjen under tekst **/
  bottom: 0; /** Får linjen under tekst **/
  width: 0; /** Får linjen under tekst **/
  height: 2px; /** Højden på linjen **/
  background: pink; /** Farve **/
  transition: width 0.3s ease; /** Tiden og typen af animation **/
}

/** Får underlinje hover til at blive **/
.overskrift_list a:hover::after,
.overskrift_list a.active::after {
  width: 100%; /** Underlinjen forbliver for aktive links**/
}

.mellemrum_bund {
  padding-bottom: 8%;
}
