img {
  width: 100%;
  height: auto;
  display: block;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: roboto; /** Font **/
}

h2 {
  text-align: center;
  margin-bottom: 2%;
  font-family: roboto;
  text-transform: uppercase;
}

h3 {
  text-align: center;
  margin-bottom: 2%;
  font-family: roboto;
  text-transform: uppercase;
  font-size: 1.8rem;
  padding-top: 2%;
}

.h2_overskrift {
  margin-bottom: 0%;
  text-transform: none;
  font-style: italic;
  margin-top: -5%;
}

.h1_overskrift {
  margin-top: 1%;
  margin-bottom: 5%;
}

.h2_ommig {
  text-align: left;
  font-size: 1.2rem;
  margin-bottom: 0%;
}

.h2_ommig_height {
  text-align: left;
  font-size: 1.2rem;
  margin-bottom: 0%;
  padding-top: 2%;
}

.h2_ommig_height1 {
  text-align: left;
  font-size: 1.2rem;
  margin-bottom: -2%;
  padding-top: 2%;
}
p {
  line-height: 1.6;
  font-family: lato; /** Font **/
}

.p_height {
  padding-top: 2%;
}

.h3_cv {
  padding-top: 2%;
  text-align: left;
  margin-bottom: 0%;
  font-size: 1rem;
}

.h3_cv1 {
  text-align: left;
  margin-bottom: 0%;
  font-size: 1rem;
}

.om_mig_wave,
.om_mig_wave2,
.galleri_serie {
  width: 100%;
  aspect-ratio: 1955.98 / 335.42;
  background-image: url(img/bagg2.svg);

  /** CHATTEN - FOR AT DET ER DET SAMME I CHROME! **/
  background-size: cover;
  background-repeat: no-repeat;
}

.om_mig_wave {
  padding-bottom: 0%;
}

@media screen and (max-width: 1000px) {
  .om_mig_wave {
    padding-bottom: 2%; /** Større bølge **/
    padding-top: 0%; /** Større bølge **/
  }
}

@media screen and (max-width: 700px) {
  .om_mig_wave {
    padding-bottom: 4%; /** Større bølge **/
    padding-top: 0%; /** Større bølge **/
  }
}

@media screen and (max-width: 620px) {
  .om_mig_wave {
    padding-bottom: 5%; /** Større bølge **/
    padding-top: 0%; /** Større bølge **/
  }
}

.om_mig_wave2 {
  padding-bottom: 4%;
}

@media screen and (max-width: 1000px) {
  .om_mig_wave2 {
    padding-bottom: 8%; /** Større bølge **/
  }
}

@media screen and (max-width: 760px) {
  .om_mig_wave2 {
    padding-bottom: 10%; /** Større bølge **/
  }
}

@media screen and (max-width: 600px) {
  .om_mig_wave2 {
    padding-bottom: 12%; /** Større bølge **/
  }
}

.galleri_serie {
  padding-bottom: 6%;
}

@media screen and (max-width: 890px) {
  .galleri_serie {
    padding-bottom: 9%; /** Større bølge **/
  }
}

.indeni {
  position: relative;
  top: 30%;
}

.indeni2 {
  position: relative;
  top: 32%;
}

.indeni3 {
  position: relative;
  top: 35%;
}

.overskrift {
  background-image: url(img/bagg.svg);
  background-size: cover;
  aspect-ratio: 1938.9/619.3;
  position: relative;
  padding-bottom: 10%;
}

.video {
  width: 100%; /** Videoen fylder 100% af dens overordnede element **/
  max-width: 100%; /** Begrænser bredden, hvis den er i et smalt layout **/
  margin: 0 auto; /** Centrerer video **/
  margin-top: 10px; /** Afstand til bunden **/
  margin-bottom: 20px; /** Afstand til toppen **/
}

.video video {
  display: flex;
  width: 100%; /** Fylder hele videoens bredde **/
  height: 450px; /** Fast højde **/
  object-fit: cover; /** Tilpasser videoen, så den beskæres **/
  justify-content: center;
}

.grid_om_mig {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding-left: 2%;
  padding-right: 2%;
  gap: 4%;
  position: relative;
}

.h3_tools {
  font-size: 1rem;
}

.grid_om_mig img {
  width: 55%;
  margin: auto;
}

.grid_1-1-1-1-1 p {
  text-align: center;
  font-family: roboto;
  font-weight: bold;
  font-size: small;
}

.digitale_supplies {
  top: -5%;
  position: relative;
  padding-top: 10%;
  padding-bottom: 5%;
}

/** KONTAKTFORMULAR **/
.kontakt_mig {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-bottom: 10%;
  margin: auto;
}

.mig_billede img {
  width: 80%;
  margin: auto;
}

/** KONTAKFORMULAR FRA W3 SCHOOLS **/
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: lato;
}

/** INPUT FRA CHATGBT **/
input[type="submit"] {
  display: inline-block; /* Gør linket til en blok, der kan styles */
  background-color: var(--knap-color); /* Grøn baggrund */
  padding: 10px 40px; /* Indvendig afstand */
  text-align: center; /* Centrer tekst */
  cursor: pointer; /* Hånd-markør */
  border: none;
  color: white;
}

input[type="submit"]:hover {
  background-color: lavender; /* Mørkere grøn ved hover */
  font-weight: bold; /** Fed **/
  transform: scale(1.05); /** Zoomer ind  **/
  /** Chatten **/
  transition: transform 0.3s ease; /** Tilføjer en glidende overgang **/
  color: var(--hover-tekst);
}

.container {
  border-radius: 5px;
  padding: 20px;
}

label {
  font-family: lato;
}

.section1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-bottom: 5%;
  padding-top: 5%;
}

.om_mig_billede {
  order: -1;
  margin: auto;
}

.grid1,
.grid3 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding-bottom: 5%;
}

.one1,
.one2 {
  margin: auto;
}

.two1 img,
.two2 img {
  width: 100%;
  margin: auto;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
  padding-bottom: 10%;
  padding-left: 20px;
}

.grid3 {
  padding-left: 20px;
}

.two2 {
  order: -1;
}

.om_mig {
  max-width: 65ch; /** Begrænser til maks. 65 tegn pr. linje **/
  margin: auto; /** I midten **/
}

.h1_ommig {
  text-align: left;
}

.two1,
.two2,
.two3 {
  margin: auto;
}

/** PROCENTBAR FRA GEEKSFORGEEKS.ORG **/
/** Med egen styling **/

.udenom {
  margin-top: 2%;
  background-color: #66476f;
  border-radius: 15px;
  margin-bottom: 8%;
}

.container_procent {
  width: 20%;
  border-radius: 15px;
  font-family: lato;
}

.skill {
  background-color: var(--pink-color);
  color: black;
  padding: 1%;
  text-align: right;
  font-size: 20px;
  border-radius: 15px;
}

.html {
  width: 80%;
}

.galleri_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.galleri_1 {
  grid-column: 1/2;
}

.galleri_2 {
  grid-column: 2/3;
}

.galleri_3 {
  grid-column: span 2;
  grid-row: span 2;
}

.galleri_4 {
  grid-column: span 2;
}

.galleri_5 {
  grid-column: span 4;
}

.galleri_grid img {
  object-fit: cover;
  align-self: stretch;
}

@media (max-width: 770px) {
  /** DIGITALE VÆRKTØJER **/
  .grid_om_mig {
    grid-template-columns: 1fr 1fr;
  }

  .grid_om_mig img {
    width: 30%;
  }

  .overskrift {
    padding-top: 15%;
    padding-bottom: 25%;
  }
}

@media (max-width: 600px) {
  /** DIGITALE VÆRKTØJER **/
  .overskrift {
    padding-top: 40%;
    padding-bottom: 45%;
  }

  /** VIDEO **/
  .video video {
    width: 100%; /** Fylder hele videoens bredde **/
    height: 100%; /** Fylder det hele **/
  }

  .video {
    padding-left: 0px; /** Intet padding **/
    padding-right: 0px; /** Intet padding **/
  }

  /** BØLGE **/
  .om_mig_wave {
    padding-top: 8%; /** Padding = større bølge **/
    padding-bottom: 15%; /** Padding = Større bølge **/
  }

  .galleri_serie {
    padding-top: 5%;
    padding-bottom: 15%;
  }

  /** MIT KREATIVE UNIVERS **/
  .section1 {
    grid-template-columns: 1fr;
  }

  .om_mig_billede {
    order: 1;
    padding-bottom: 20%;
  }

  /** KOMPETENCER & ERFARING **/
  .grid1,
  .grid3 {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 20%; /** Mellemrum tilføjet **/
  }

  /** UDDANNELSE **/
  .grid2 {
    grid-template-columns: 1fr;
    padding-bottom: 20%; /** Mellemrum tilføjet **/
  }

  .two2 {
    order: 1;
  }

  /** KONTAKT MIG **/
  .kontakt_mig {
    grid-template-columns: 1fr;
  }

  .container {
    order: -1;
  }

  /** GALLERI **/
  .galleri_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .galleri_1 {
    grid-column: 1 / span 2; /** Start 1 = strækker 2 **/
  }

  .billede_4 {
    grid-column: 1 / span 2; /** Start 1 = strækker 2 **/
  }

  .galleri_5 {
    grid-column: 1 / span 2; /** Start 1 = strækker 2 **/
  }

  .galleri_3 {
    grid-row: 4; /** Stort billede til sidst **/
  }
}
