/** TEMA OVERSKRIFT **/
.h13 {
  color: black; /** Sort **/
  font-family: roboto; /** Font **/
}

/** UNDEROVERSKRIFT **/
.h33 {
  padding-top: 10px;
  font-family: Alegreya Sans;
  text-transform: uppercase;
}

/** TEKT UNDER TEMA **/
.p3 {
  font-family: lato; /** Font **/
  max-width: 65ch; /** Begrænser til maks. 65 tegn pr. linje **/
  line-height: 1.6; /** Linje højde **/
  padding-bottom: 10px; /** Afstand til bunden **/
  font-size: 1rem;
}

/** ALM TEKST **/
p {
  font-family: lato; /** FONT **/
}

/** KNAPPER I PORTFOLIO **/
.knap1 {
  display: inline-block; /* Gør linket til en blok, der kan styles */
  background-color: var(--knap-color); /* Grøn baggrund */
  padding: 10px 20px; /* Indvendig afstand */
  text-align: center; /* Centrer tekst */
  cursor: pointer; /* Hånd-markør */
}

.knap1 a {
  text-decoration: none; /** Fjerner underscore **/
  color: var(--tekstknap-color); /** Farve **/
  font-family: roboto; /** Font **/
  font-size: 0.9rem; /** Størrelse **/
}

/* KNAP 1 HOVER EFFEKT */
.knap1:hover {
  background-color: var(--hover-color); /* Mørkere grøn ved hover */
  font-weight: bold; /** Fed **/
  transform: scale(1.05); /** Zoomer ind  **/
  /** Chatten **/
  transition: transform 0.3s ease; /** Tilføjer en glidende overgang **/
}

/** skifter farve ved hover **/
.knap1:hover a {
  color: var(--hover-tekst); /** Ændrer farven til sort ved hover **/
}

/** Knapper sammen **/
.grid_menu {
  padding-top: 2%; /** Afstand til hero **/
}

/** Tekstfelt i portfolio **/
.tekstfeltp {
  text-align: center; /** Centrer **/
  padding-top: 5%; /** Afstand top **/
  max-width: 65ch; /** Begrænser til maks. 65 tegn pr. linje **/
  margin: 0 auto; /** Centrerer teksten **/
  line-height: 1.6; /** Linjeafstan **/
  word-wrap: break-word; /** Bryder ord, hvis nødvendigt **/
  padding-bottom: 5%; /** Afstand bund **/
}

/** MENU UNDER HERO **/
.grid_menu {
  text-align: center; /** I midten **/
}

/** Baggrundsmark **/
.bølge {
  background-image: url(img/bagg.svg); /** Baggrundsbillede **/
  background-size: cover; /** Baggrundsstørrelse **/
  aspect-ratio: 1938.9/619.3; /** Aspect ratio **/
}

/** Baggrundsmark 2 **/
.bølge1 {
  background-image: url(img/bagg.svg);
  background-size: cover; /** Baggrundsstørelse **/
  aspect-ratio: 1938.9/619.3; /** Aspect ratio **/
}

/** GRID FOR ALLE BILLEDERNE **/
.grid_1-1 {
  display: grid; /** Tekst og billede på række **/
  grid-template-columns: 1fr 1fr; /** 2 rækker **/
  gap: 20px; /** Mellemrum **/
}

/** TEMA 1 **/
.tema1 {
  padding: 20%; /** Mellemrum **/
  position: relative; /** Forbliver + justering **/
  left: 10%; /** Venstre **/
  top: -6%; /** Top **/
}

/** Billede **/
.tv1 {
  width: 80%; /** Størrelse **/
  position: relative; /** Forbliver + flytbar **/
  left: 4%; /** Venstre **/
  top: 9%; /** Top **/
}

/** TEMA 1 RESPONSIV **/
@media (max-width: 950px) {
  /** Tekstfelt **/
  .tema1 {
    margin-top: -5%; /** Mindre afstand top **/
    padding: 5%; /** Mindre padding **/
  }

  /** Bølgen **/
  #tema_1 {
    padding-top: 10%; /** Afstand top **/
    padding-bottom: 7%; /** Afstand bund **/
  }

  /** Billede **/
  .tv1 {
    position: relative;
    top: 0%;
    left: 7%;
    width: 85%;
  }
}

/** TEMA 1 RESPONSIV **/
@media (max-width: 790px) {
  .tv1 {
    top: -2%;
    width: 90%;
    left: 4%;
  }
}

/** TEMA 1 MOBILFORMAT **/
@media (max-width: 660px) {
  .tema1 {
    grid-column: span 2; /** Fylder 2 kolonner **/
    margin-left: -10%; /** Mindre afstand til venstre **/
    margin-right: 10%; /** Mindre afstand til højre **/
    margin-top: 15%; /** Mere plads i toppen **/
    margin-bottom: 40%; /** Mere plads i bunden **/
    position: relative; /** Gør container flytbar **/
    padding: 1%; /** En lille smule mellemrum **/
  }

  #tema_1 img {
    margin-bottom: -106%;
    top: -191%;
    width: 165%;
    left: 24%;
  }
}

/** TEMA 2 **/
.tema2 {
  padding-inline-start: 20%; /** Indrykning **/
  position: relative; /** Forbliver + justering **/
  left: -9%; /** Venstre **/
  top: 12%; /** Top **/
  padding-bottom: 20%; /** Bund **/
  padding-right: 20%; /** Højre **/
}

/** Billede **/
.mac {
  order: -1; /** Omvendt rækkefølge **/
  width: 69%; /** Størrelse **/
  position: relative; /** Forbliver + justering **/
  left: 27%; /** Venstre **/
  top: 3%; /** Top **/
}

/** TEMA 2 RESPONSIV **/
@media (max-width: 950px) {
  /** Tekst **/
  .tema2 {
    margin-top: -25%; /** Mindre afstand top **/
    padding: 5%; /** Mindre padding **/
  }

  /** Hvid baggrund **/
  #tema2 {
    padding-top: 0%; /** Intet padding **/
    padding-bottom: 7%; /** Afstand bund **/
  }

  /** Billede **/
  .mac {
    top: 6%; /** Top **/
    left: 20%; /** Venstre **/
  }
}

/** TEMA 2 MOBILFORMAT **/
@media (max-width: 660px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px; /** Mindre gap **/
  }

  /** Tekstfelt **/
  .tema2 {
    order: -1; /** Ændre rækkefølge fra desktop **/
    grid-column: span 2;
    padding: 1%;
    margin-left: 10%; /** Mindre afstand til venstre **/
    margin-right: -10%; /** Mindre afstand til højre **/
    margin-top: -5%;
    padding: 1%;
  }

  #tema2 {
    margin-bottom: 10%;
  }

  .mac {
    left: 30%;
    top: 22%;
    width: 143%;
  }
}

/** TEMA 3 **/
.tema3 {
  padding: 20%; /** Mellemrum om **/
  position: relative; /** Forbliver + justering **/
  left: 10%; /** Venstre **/
  top: -6%; /** Top **/
}

/** Billede **/
.karo {
  padding-left: 1%; /** Venstre mellemrum **/
  position: relative;
  width: 65%;
  top: 23%;
  left: 10%;
}

/** TEMA 3 RESPONSIV **/
@media (max-width: 950px) {
  /** Tekstfelt **/
  .tema3 {
    margin-top: -5%; /** Afstand top **/
    padding: 5%; /** Mindre padding **/
  }

  /** Bølge **/
  #tema3 {
    padding-top: 8%; /** Afstand top **/
    padding-bottom: 7%; /** Afstand bund **/
  }

  /** Billede **/
  .karo {
    top: 15%;
    left: 26%;
  }
}

@media (max-width: 660px) {
  .tema3 {
    grid-column: span 2; /** Fylder 2 kolonner **/
    margin-left: -10%; /** Mindre afstand til venstre **/
    margin-right: 10%; /** Mindre afstand til højre **/
    margin-top: 10%; /** Mere plads i toppen **/
    margin-bottom: 30%; /** Mere plads i bunden **/
    position: relative; /** Gør container flytbar **/
    padding: 1%; /** En lille smule mellemrum **/
  }
}

/** TEMA 4 **/
.tema4 {
  padding-inline-start: 20%;
  position: relative; /** Forbliver + justering **/
  left: -9%; /** Venstre **/
  top: 12%; /** Top **/
  padding-bottom: 20%; /** Afstan bund **/
  padding-right: 20%; /** Aftand top **/
}

/** Billede **/
.glamgrab {
  order: -1; /** Omvendt rækkefølge **/
  width: 79%; /** Størrelse **/
  position: relative; /** Forbliver + justering **/
  left: 21%; /** Venstre **/
  top: 8%; /** Top **/
}

/** TEMA 4 RESPONSIV **/
@media (max-width: 950px) {
  /** Tekstfelt **/
  .tema4 {
    margin-top: -25%; /** Afstand top **/
    padding: 5%; /** Mindre padding **/
  }

  /** Bølge **/
  #tema4 {
    padding-top: 0%; /** Ingen padding **/
    padding-bottom: 7%; /** padding bund **/
  }
}

/** TEMA 4 MOBIL **/
@media (max-width: 660px) {
  #tema4 img {
    margin-bottom: 50%;
    top: 17%;
  }

  #tema4 {
    margin-top: -10%;
  }
}

/** TEMA 5 **/
.tema5 {
  padding: 20%; /** Mellemrum om **/
  position: relative; /** Forbliver + justering **/
  left: 10%; /** Venstre **/
  top: -6%; /** Højre **/
}

/** Billede **/
.iphone {
  width: 84%; /** Størrelse **/
  position: relative; /** Forbliver + justering **/
  left: 7%; /** Venstre **/
  top: 24%; /** Højre **/
}

/** TEMA 5 RESPONSIV **/
@media (max-width: 950px) {
  /** Tekstfelt **/
  .tema5 {
    margin-top: -5%; /** Afstand top **/
    padding: 5%; /** Mindre padding **/
  }

  /** Bølge **/
  #tema5 {
    padding-top: 10%; /** Afstand top **/
    padding-bottom: 7%; /** Afstand bund **/
  }

  /** Billede **/
  .iphone {
    top: 21%; /** Top **/
    left: 10%; /** Venstre **/
  }
}

/** HOVER EFFEKT PÅ BILLEDER **/
.glamgrab:hover,
.mac:hover,
.karo:hover,
.passionportraits:hover,
.tv1:hover {
  transform: scale(1.05); /** Zoomer ind **/
  transition: transform 0.3s ease; /** Tilføjer glidende overgang **/
}

/** RESPONSIV DESIGNS **/
@media (max-width: 900px) {
  /** H1 **/
  .h13 {
    font-size: 1.7rem; /** Mindre font **/
  }

  /** TEMA 3 **/
  .tema3 {
    margin-top: -3%; /** Margin **/
    position: relative; /** Flytbar **/
    left: 10%; /** Venstre **/
    top: 0%; /** Top **/
    margin-bottom: 10%; /** Afstand bund **/
  }

  /** TEMA 5 **/
  .tema5 {
    margin-top: -3%; /** Margin **/
    position: relative; /** Flytbar **/
    left: 10%; /** Venstre **/
    top: 0%; /** Top **/
    margin-bottom: 10%; /** Afstand bund **/
  }
}

/** MOBIL ENHED **/
@media (max-width: 660px) {
  /** TEMA 3 **/
  .tema3 {
    grid-column: span 2; /** Fylder 2 kolonner **/
    margin-left: -10%; /** Mindre afstand til venstre **/
    margin-right: 10%; /** Mindre afstand til højre **/
    margin-top: 10%; /** Mere plads i toppen **/
    margin-bottom: 30%; /** Mere plads i bunden **/
    position: relative; /** Gør container flytbar **/
    padding: 1%; /** En lille smule mellemrum **/
  }

  .karo {
    width: 67%; /** Større iPad **/
    position: relative; /** Gør element flytbar **/
    top: -44%; /** Justerer hvor billedet er **/
    left: 33%; /** Justerer hvor billedet er **/
  }

  /** TEMA 4 **/
  .tema4 {
    order: -1; /** Ændre rækkefølge fra desktop **/
    grid-column: span 2;
    padding: 1%;
    margin-left: 10%; /** Mindre afstand til venstre **/
    margin-right: -10%; /** Mindre afstand til højre **/
    padding: 1%;
    margin-top: 3%;
  }

  /** TEMA 3 BILLEDE **/
  .ipad {
    width: 211%;
    position: relative;
    left: 0%;
    top: 0%;
    background-size: cover;
  }

  /** TEMA 5 **/
  .tema5 {
    grid-column: span 2; /** Fylder 2 kolonner **/
    margin-left: -10%; /** Mindre afstand til venstre **/
    margin-right: 10%; /** Mindre afstand til højre **/
    margin-top: 10%; /** Mere plads i toppen **/
    margin-bottom: 30%; /** Mere plads i bunden **/
    position: relative; /** Gør container flytbar **/
    padding: 1%; /** En lille smule mellemrum **/
  }

  /** TEMA 5 BILLEDE **/
  .passionportraits img {
    width: 170%;
    top: -48%;
    left: 20%;
  }

  /** KNAPPER I PORTFOLIO **/
  .grid_menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px; /** Mellemrum **/
    padding-left: 10%; /** Padding **/
    padding-right: 10%; /** Padding **/
  }

  #knap1 {
    grid-column: span 2; /** Strækker sig over 2 **/
  }

  #knap2 {
    grid-column: span 2; /** Strækker sig over 2 **/
  }

  #knap3 {
    grid-column: span 2; /** Strækker sig over 2 **/
  }

  #knap4 {
    grid-column: 2 / span 2; /** Starter 2, strækker sig 2 **/
  }

  #knap5 {
    grid-column: span 2; /** Strækker sig over 2 **/
  }

  #knap1 a,
  #knap2 a,
  #knap3 a,
  #knap4 a,
  #knap5 a {
    font-size: 0.8rem; /** Mindre font **/
  }
}

/** 600PX TEKSTFELT HVID **/
@media (max-width: 600px) {
  .tema1 {
    padding-top: 10%; /** Padding top **/
  }

  .tema3 {
    padding-top: 10%; /** Padding top **/
  }

  .tema5 {
    padding-top: 10%; /** Padding top **/
  }
}
