h1 {
  font-family: roboto;
  color: white;
}

.typewriter {
  display: inline-block; /** Blink carret og typing forbliver ved tekst **/
}

.tekst {
  font-size: 3rem;
  font-style: italic;
  font-weight: bold;
  width: 100%;
  color: purple;
  white-space: nowrap;
  overflow: hidden;
  border-right: 5px solid;
  animation: typing 7s steps(12, end), blink-caret 0.75s infinite; /** 12 er antal bogstaver **/
  animation-iteration-count: infinite; /* Gentager animationen */
}

/** Får streg til at blinke **/
@keyframes blink-caret {
  50% {
    /** 50% så den er usynlig **/
    border-color: transparent;
  }
}

/* The typing effect */
@keyframes typing {
  0% {
    width: 0;
  }
  40% {
    width: 100%; /* Fuldfør teksten */
  }
  70% {
    width: 100%; /* Hold teksten færdigskrevet */
  }
  100% {
    width: 0; /* Slet teksten */
  }
}

.typewriter {
  position: absolute;
  bottom: 50%;
  right: 38%;
  padding-left: 20px;
  padding-right: 5px;
  text-align: right;
  font-family: roboto;
}
.velkommen {
  position: absolute;
  bottom: 65%;
  color: white;
  right: 30%;
  text-align: right;
  font-family: roboto;
  font-size: 4rem;
}

/** Tekstfelt i portfolio **/
.tekstfeltp {
  text-align: center; /** Centrer **/
  padding-top: 5%; /** Afstand top **/
  max-width: 65ch; /** Begrænser til maks. 65 tegn pr. linje **/
  margin: 0 auto; /** Centrerer teksten **/
  line-height: 1.6; /** Linjeafstan **/
  word-wrap: break-word; /** Bryder ord, hvis nødvendigt **/
  padding-bottom: 5%; /** Afstand bund **/
}

/** Baggrundsmark **/
.bølge {
  background-image: url(img/bagg.svg); /** Baggrundsbillede **/
  background-size: cover; /** Baggrundsstørrelse **/
  aspect-ratio: 1938.9/619.3; /** Aspect ratio **/
}

/** Billede i 1 og 3 **/
.bølge img {
  width: 61%; /** Størrelse **/
  position: relative; /** Relativ **/
  left: 8%; /** Venstre **/
  top: 24%; /** Højre **/
}

/** Grid 1 og 3 **/
.grid_1-1 {
  display: grid; /** Tekst og billede på række **/
  grid-template-columns: 1fr 1fr; /** 2 rækker **/
  gap: 20px; /** Mellemrum **/
}

/** TEMA 1 **/
.tema1 {
  padding: 20%; /** Mellemrum **/
  position: relative; /** Relativ **/
  left: 10%; /** Venstre **/
  top: -6%; /** Top **/
}

/** TEMA 1 BILLEDE **/
.tv1 {
  width: 110%; /** Størrelse på billede **/
  position: relative; /** Relativ **/
  left: -3%; /** Venstre **/
  top: -9%; /** Top **/
  background-size: cover; /** Baggrundsbillede **/
}

/** TEMA 2 **/
.tema2,
.tema4 {
  padding-right: 30%; /** Mellemrum **/
  position: relative; /** Relativ **/
  left: 10%; /** Venstre **/
  top: 10%; /** Top **/
}

/** TEMA 3 **/
.tema3 {
  padding: 20%;
  position: relative;
  left: 10%;
  top: -6%;
}

@media (max-width: 900px) {
  .h13 {
    color: black;
    font-size: 1rem;
  }

  .tema3 {
    margin-top: -3%;
    position: relative;
    left: 10%;
    top: 0%;
    margin-bottom: 10%;
  }

  .h33 {
    font-family: Alegreya Sans;
    text-transform: uppercase;
  }

  .tema5 {
    margin-top: -3%;
    position: relative;
    left: 10%;
    top: 0%;
    margin-bottom: 10%;
  }
}

.h13 {
  color: black;
}

.h33 {
  padding-top: 10px;
  font-family: Alegreya Sans;
  text-transform: uppercase;
}

.p3 {
  font-family: lato;
  max-width: 65ch; /** Begrænser til maks. 65 tegn pr. linje **/
  line-height: 1.6;
  padding-bottom: 10px;
}

.knap1 {
  display: inline-block; /* Gør linket til en blok, der kan styles */
  background-color: purple; /* Grøn baggrund */
  padding: 10px 20px; /* Indvendig afstand */
  font-size: 16px; /* Skriftstørrelse */
  text-align: center; /* Centrer tekst */
  cursor: pointer; /* Hånd-markør */
}

.knap1 a {
  text-decoration: none;
  color: black;
  font-family: roboto;
}

/* Hover-effekt */
.knap1:hover {
  background-color: lavender; /* Mørkere grøn ved hover */
  font-weight: bold;
  transform: scale(1.05); /** Zoomer ind til 120% af størrelsen **/
  /** Chatten **/
  transition: transform 0.3s ease; /* Tilføjer en jævn overgang */
}

.karo:hover {
  transform: scale(1.05); /** Zoomer ind til 120% af størrelsen **/
  /** Chatten **/
  transition: transform 0.3s ease; /* Tilføjer en jævn overgang */
}

.grid_1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.glamgrab {
  order: -1; /** Omvendt rækkefølge **/
  width: 79%;
  position: relative;
  left: 21%;
  top: 0%;
  background-size: cover;
}

.mac {
  order: -1;
  width: 80%;
  position: relative;
  left: 18%;
  top: -10%;
  background-size: cover;
}

.glamgrab:hover,
.mac:hover {
  transform: scale(1.05); /** Zoomer ind til 120% af størrelsen **/
  /** Chatten **/
  transition: transform 0.3s ease; /* Tilføjer en jævn overgang */
}

.bølge1 {
  background-image: url(img/bagg.svg);
  background-size: cover;
  aspect-ratio: 1938.9/619.3;
}

.tema4 {
  padding-inline-start: 20%;
  position: relative;
  left: -9%;
  top: 0%;
  padding-bottom: 20%;
}

.tema5 {
  padding: 20%;
  position: relative;
  left: 10%;
  top: -6%;
}

.passionportraits {
  width: 33%;
  position: relative;
  left: 26%;
  top: 26%;
  background-size: cover;
}

.passionportraits:hover,
.tv1:hover {
  transform: scale(1.05); /** Zoomer ind til 120% af størrelsen **/
  /** Chatten **/
  transition: transform 0.3s ease; /* Tilføjer en jævn overgang */
}

/** MOBIL ENHED **/
@media (max-width: 600px) {
  /** TEMA 3 **/
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px; /** Mindre gap **/
  }

  .tema3 {
    grid-column: span 2; /** Fylder 2 kolonner **/
    margin-left: -10%; /** Mindre afstand til venstre **/
    margin-right: 10%; /** Mindre afstand til højre **/
    margin-top: 20%; /** Mere plads i toppen **/
    margin-bottom: 30%; /** Mere plads i bunden **/
    position: relative; /** Gør container flytbar **/
    padding: 1%; /** En lille smule mellemrum **/
  }
  .bølge img {
    width: 130%; /** Større iPad **/
    position: relative; /** Gør element flytbar **/
    top: -53%; /** Justerer hvor billedet er **/
    left: 35%; /** Justerer hvor billedet er **/
  }

  /** TEMA 4 **/
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px; /** Mindre gap **/
  }

  .tema4 {
    order: -1; /** Ændre rækkefølge fra desktop **/
    grid-column: span 2;
    padding: 1%;
    margin-left: 10%; /** Mindre afstand til venstre **/
    margin-right: -10%; /** Mindre afstand til højre **/
    padding: 1%;
  }

  .ipad {
    width: 211%;
    position: relative;
    left: 4%;
    top: 0%;
    background-size: cover;
  }

  .tema5 {
    grid-column: span 2; /** Fylder 2 kolonner **/
    margin-left: -10%; /** Mindre afstand til venstre **/
    margin-right: 10%; /** Mindre afstand til højre **/
    margin-top: 23%; /** Mere plads i toppen **/
    margin-bottom: 30%; /** Mere plads i bunden **/
    position: relative; /** Gør container flytbar **/
    padding: 1%; /** En lille smule mellemrum **/
  }

  .passionportraits img {
    width: 100%;
    position: relative;
    left: 50%;
    top: -40%;
    background-size: cover;
  }
}
