* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  max-width: 1200px; /** Størrelse på skærm **/
  margin-inline: auto; /** Centrerer **/
  padding-left: 1rem; /** Venstre luft **/
  padding-right: 1rem; /** Højre luft **/
}

/** Menu **/
header {
  display: flex;
  text-transform: uppercase; /** Caps lock **/
  justify-content: space-between; /** Menu højre **/
  font-family: raleway; /** Font **/
  max-width: 1200px; /** Sætter størrelsen **/
  margin-inline: auto; /** Auto i midten **/
  font-weight: 500; /** Lidt fed **/
}

.menu a {
  padding: 15px; /** Mellemrum **/
  text-decoration: none; /** Fjerner underscore **/
  color: black;
  display: inline-block; /** Påkrævet for transform **/
}

.menu a:hover {
  transform: scale(1.2); /** Zoomer ind til 120% af størrelsen **/
  color: pink; /*' Ændrer farven til pink **/
  /** Chatten **/
  transition: transform 0.3s ease; /* Tilføjer en jævn overgang */
}

.menu {
  display: flex; /** På linje **/
  list-style: none; /** Fjerner prikker **/
}

.logo1 {
  width: 80px; /** Sætter bredden **/
  height: auto; /** Højden justeres automatisk **/
  margin-left: 10%; /** Sætter logo mere til højre **/
  margin-top: 20%;
}

.burger {
  width: 30px; /** længdre på mburger ***/
  cursor: pointer; /** Gør menuen klikbar **/
}

.burger .line {
  height: 2px; /** Størrelse på burger streger **/
  background-color: #333333; /** Farve **/
  margin-bottom: 5px; /** Afstand mellem linjer **/
}

.burger {
  display: none; /** Fjerner burger i desktop **/
}

@media screen and (max-width: 618px) {
  .menu {
    display: none;
    margin-top: -4%; /** Sætter menuen tætter på burger **/
  }
  .menu a:hover {
    transform: none; /** Zoomer ind til 120% af størrelsen **/
    color: pink; /*' Ændrer farven til pink **/
    /** Chatten **/
    transition: transform 0.3s ease; /* Tilføjer en jævn overgang */
  }
  .burger {
    display: block; /** Gør burger-menu synlig **/
    margin-top: 50%; /** Burgermenu længere ned **/
    margin-left: -30%; /** Burgermenu mere mod venstre **/
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px); /** Laver kryds centralt **/
    transition: 0.2s linear; /** Når kryds = glidende **/
  }

  .burger.active .line:nth-child(2) {
    opacity: 0; /** Fjerner streg to i burger så det giver kryds **/
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px); /** Laver kryds centralt **/
    transition: 0.2s linear; /** Når kryds = glidende **/
  }
  nav.active .menu {
    display: block; /** Menu bliver synlig **/
    background-color: #ffffff; /** Baggrundsfarve **/
    position: absolute; /** Menu kommer ned **/
    top: 94px; /** Kommer under logo **/
    left: 0%; /** Længere til venstre liste **/
    width: 100%; /** Menu fylder hele skærm **/
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); /** Skygge **/
  }

  nav.active .menu li {
    margin: 5px; /** Mellemrum mellem links **/
  }

  nav.active .menu a {
    font-size: 15px; /** Skriftstørrelse **/
  }
}
