/** Farvepalette **/
:root {
  --pink-color: #f6c2cb;
  --lilla-color: #66476f;
  --knap-color: #66476f;
  --tekstknap-color: #ffff;
  --hover-color: #e6e6fa;
  --hover-tekst: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%; /** Responsive billeder **/
  height: auto; /* Bevarer billedets proportioner */
}

html {
  scroll-behavior: smooth; /** Smooth scrolling **/
}

main {
  max-width: 1200px; /** Max størrelse på 1200 px **/
  margin-inline: auto;
}

body {
  max-width: 1200px; /** Størrelse på skærm **/
  margin-inline: auto; /** Centrerer **/
  padding-left: 1rem; /** Venstre luft **/
  padding-right: 1rem; /** Højre luft **/
}

/** MENU **/
.menu a {
  padding: 15px; /** Mellemrum **/
  text-decoration: none; /** Fjerner underscore **/
  color: black; /** Sort **/
  display: inline-block; /** Påkrævet for transform **/
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: raleway; /** Font **/
  text-transform: uppercase; /** Caps lock **/
  text-align: center; /** Tekst i midten **/
  justify-content: space-between; /** Lige meget mellemrum **/
  max-width: 1200px; /** Sætter størrelsen **/
  margin-inline: auto; /** Auto i midten **/
  padding-left: 15%; /** Mellemrum venstre **/
  padding-right: 15%; /** Mellemrum højre **/
  list-style: none; /** Fjerner prikker **/
  padding-bottom: 2%; /** Mellemrum i bunden **/
  font-weight: 500; /** Lidt fed **/
}

/** UNDERLINJE **/
.menu a {
  position: relative; /** Flytbar **/
  text-decoration: none; /** Fjerner underscore **/
  color: black; /** Farve **/
}

.menu a::after {
  content: ""; /** Gør streg mulig **/
  position: absolute; /** Ødelægger ik andre elementer **/
  left: 0; /** Får linjen under tekst **/
  bottom: 0; /** Får linjen under tekst **/
  width: 0; /** Får linjen under tekst **/
  height: 2px; /** Højden på linjen **/
  background: var(--knap-color); /** Farve **/
  transition: width 0.3s ease; /** Tiden og typen af animation **/
}

/** Får underlinje hover til at blive **/
.menu a:hover::after,
.menu a.active::after {
  width: 100%; /** Underlinjen forbliver for aktive links**/
}

/** LOGO DESKTOP **/
/** LOGO 1 **/
.logo1 {
  width: 80px; /** Sætter bredden **/
  display: block; /** Gør det muligt at billedet sidder midt **/
  margin: auto; /** Centrerer billede **/
  padding-bottom: 2%; /** Mellemrum i bunden **/
  padding-top: 2%; /** Mellemrum i toppen **/
}

/** LOGO 2 **/
.logo_2 {
  display: none; /** Fjerner logo i desktop **/
}

/** BURGER **/
.burger {
  width: 30px; /** længdre på mburger ***/
  cursor: pointer; /** Gør menuen klikbar **/
}

.burger .line {
  height: 2px; /** Størrelse på burger streger **/
  background-color: #333333; /** Farve **/
  margin-bottom: 5px; /** Afstand mellem linjer **/
}

.burger {
  display: none; /** Fjerner burger i desktop **/
}

/** Menu responsiv **/
@media (max-width: 870px) {
  .menu {
    font-size: 0.9rem; /** Mindre font **/
    padding-left: 0%; /** Intet padding **/
    padding-right: 0%; /** Intet padding **/
  }
}

/** HEADER MOBILFORMAT **/
@media (max-width: 600px) {
  header {
    display: flex;
    justify-content: space-between; /** Menu højre **/
    padding-bottom: 3%; /** Afstand bund **/
    margin-inline: auto; /** Auto i midten **/
  }

  /** LOGO **/
  /** LOGO 2 **/
  .logo_2 {
    display: inline; /** Logo_2 synlig i mobil **/
    width: 50px; /** px gør at billede ikke justeres **/
    padding-left: 8%; /** Mellemrum venstre **/
    padding-top: 20%; /** Mellemrum til top **/
  }

  /** LOGO 1 **/
  .logo1 {
    display: none; /** Logo 1 forsvinder i mobil **/
  }

  /** MENU **/
  .menu {
    display: none; /** Menu vises **/
    margin-top: -25px; /** Samme afstand til top **/
    padding-left: 0%; /** Mellemrum venstre **/
    padding-right: 0%; /** Mellemrum højre **/
  }

  /** BURGER **/
  /** ELEMENTER GENBRUGT FRA VIRKSOMHEDSSITE **/
  .burger {
    display: block; /** Gør burger-menu synlig **/
    margin-left: -20%; /** Mellemrum venstre **/
    margin-top: 60%; /** Mellemrum til top **/
    padding-bottom: 70%; /** Afstand bund **/
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px); /** Laver kryds centralt **/
    transition: 0.2s linear; /** Når kryds = glidende **/
  }

  .burger.active .line:nth-child(2) {
    opacity: 0; /** Fjerner streg to i burger så det giver kryds **/
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px); /** Laver kryds centralt **/
    transition: 0.2s linear; /** Når kryds = glidende **/
  }

  nav.active .menu {
    display: block; /** Menu bliver synlig **/
    position: absolute; /** Menu kommer ned **/
    background-color: #ffffff; /** Baggrundsfarve **/
    top: 94px; /** Menu kommer rigtig ned **/
    left: 0; /** Fylder det hele **/
    width: 100%; /** Menu fylder hele skærm **/
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); /** Skygge **/
    z-index: 10; /** Rykker menu frem foran alt**/
    text-align: left; /** Tekst til venstre **/
  }

  nav.active .menu li {
    margin: 5px 5px; /** Mellemrum mellem links **/
    padding-left: 1%; /** Mellemrum venstre **/
  }

  nav.active .menu a {
    font-size: 15px; /** Skriftstørrelse **/
  }

  .menu a:hover::after,
  .menu a.active::after {
    width: 0%; /** Underlinjen forsvinder mobil **/
  }

  .menu li {
    border-bottom: 1px solid lightgray; /** HR under links **/
  }
}

/** FOOTER **/
hr {
  margin-top: 2%; /** Afstand bund **/
  margin-bottom: 2%; /** Afstand top **/
  color: grey; /** Farve **/
  opacity: 50%; /** Halvt vist **/
}

.grid_1-1-1 a {
  text-decoration: none; /** Fjerner underscore **/
  color: black; /** Farve **/
  font-family: raleway; /** Font **/
}

.grid_1-1-1 {
  padding-left: 50%; /** Mellemrum venstre **/
  margin-bottom: 2%; /** Afstand bund **/
}

/** HOVER EFFEKT PÅ FOOTER **/
.footer_1:hover a,
.footer_2:hover a,
.footer_3:hover a {
  color: var(--lilla-color); /** Hover farve **/
}

.grid_1-1_1 {
  display: grid; /** Grid **/
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 25%; /** Mellemrum venstre **/
  padding-right: 25%; /** Mellemrum højre **/
  font-size: 40px; /** Tekst størrelse **/
}

.grid_1-1_1 a {
  color: black; /** Farve **/
}

/** HOVER EFFEKT SOME **/
.linkedin:hover,
.facebook:hover,
.instagram:hover {
  color: var(--lilla-color); /** Hover farve **/
}

/** Samlet footer **/
.footer_samlet {
  display: grid; /** Grid **/
  grid-template-columns: 1fr 1fr;
}

/** FOOTER RESPONSIV **/
@media screen and (max-width: 1052px) {
  .grid_1-1-1 a {
    font-size: 15px; /** Mindre font **/
  }

  .grid_1-1-1 {
    padding-left: 30%; /** Mindre padding **/
    margin-bottom: 2%; /** Mindre afstand bund **/
  }
}

/** FOOTER RESPONSIV **/
@media screen and (max-width: 720px) {
  .grid_1-1-1 {
    padding-left: 20%; /** Mindre padding **/
  }
}

/** FOOTER MOBILFORMAT **/
@media (max-width: 600px) {
  .grid_1-1-1 a {
    font-size: 11px; /** Mindre tekst **/
  }

  .grid_1-1-1 {
    padding-left: 5%; /** Mindre afstand venstre **/
  }

  /** SOME GRID **/
  .grid_1-1_1 {
    display: grid;
    grid-template-columns: 1fr; /** En kolonne **/
    padding-left: 20%; /** Mellemrum venstre **/
    padding-right: 2%; /** Mellemrum højre **/
    font-size: 20px; /** Mindre tekstørrelse **/
  }

  /** SAMLET FOOTER **/
  .footer_samlet {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-bottom: 20%; /** Stor afstand bund **/
  }
}

/** BACK TO TOP KNAP **/
/** BACK TO TOP MED W3 SCHOOLS **/
#myBtn {
  display: none; /** Fjerner, viser med JS **/
  position: fixed; /** Fastgør **/
  bottom: 20px; /** Placering **/
  right: 30px; /** Placering **/
  z-index: 99; /** Kommer frem, for alt **/
  font-size: 18px; /** Font størrelse **/
  border: none; /** Stroke væk **/
  background-color: var(--knap-color); /** Knap farve **/
  color: white; /** Pil farve **/
  cursor: pointer; /** Pege **/
  padding: 10px /** top + bund **/ 30px; /** højre + venstre **/ /** Indvendig afstand **/
}

/** HOVER B2TOP **/
#myBtn:hover {
  background-color: var(--hover-color); /** Farve **/
}

/** PIL I KNAP **/
.arrow {
  border: solid white; /** Solid for at vise **/
  border-width: 0 3px 3px 0; /** Form **/
  display: inline-block; /** Gør V **/
  padding: 3px; /** Vises **/
}

.up {
  transform: rotate(-135deg); /** Roterer V **/
}

/** HOVER **/
#myBtn:hover .arrow {
  border: solid black; /** Solid for at vise **/
  border-width: 0 3px 3px 0; /** Form **/
  display: inline-block; /** Gør V **/
  padding: 3px; /** Vises **/
}
