/** Farvepalette **/
:root {
  --pink-color: #f6c2cb;
  --lilla-color: #66476f;
  --knap-color: #66476f;
  --tekstknap-color: #ffff;
  --hover-color: #e6e6fa;
  --hover-tekst: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto; /* Bevarer billedets proportioner */
}

html {
  scroll-behavior: smooth; /** Smooth scrolling **/
}

main {
  max-width: 1200px;
  margin-inline: auto;
}

body {
  max-width: 1200px; /** Størrelse på skærm **/
  margin-inline: auto; /** Centrerer **/
  padding-left: 1rem; /** Venstre luft **/
  padding-right: 1rem; /** Højre luft **/
}

/** Menu **/

.menu a {
  padding: 15px; /** Mellemrum **/
  text-decoration: none; /** Fjerner underscore **/
  color: black;
  display: inline-block; /** Påkrævet for transform **/
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: raleway; /** Font **/
  text-transform: uppercase; /** Caps lock **/
  text-align: center;
  justify-content: space-between; /** Lige meget mellemrum **/
  max-width: 1200px; /** Sætter størrelsen **/
  margin-inline: auto; /** Auto i midten **/
  padding-left: 15%; /** Mellemrum venstre **/
  padding-right: 15%; /** Mellemrum højre **/
  list-style: none; /** Fjerner prikker **/
  padding-bottom: 2%; /** Mellemrum i bunden **/
  font-weight: 500; /** Lidt fed **/
}

@media (max-width: 870px) {
  .menu {
    font-size: 0.7rem;
    padding-left: 10%;
    padding-right: 10%;
  }
}
/** underlinje **/
.menu a {
  position: relative;
  text-decoration: none;
  color: black; /** Farve **/
}

.menu a::after {
  content: "";
  position: absolute;
  left: 0; /** Får linjen under tekst **/
  bottom: 0; /** Får linjen under tekst **/
  width: 0; /** Får linjen under tekst **/
  height: 2px; /** Højden på linjen **/
  background: var(--knap-color); /** Farve **/
  transition: width 0.3s ease; /** Tiden og typen af animation **/
}

/** Får underlinje hover til at blive **/
.menu a:hover::after,
.menu a.active::after {
  width: 100%; /** Underlinjen forbliver for aktive links**/
}

.logo1 {
  width: 80px; /** Sætter bredden **/
  display: block; /** Gør det muligt at billedet sidder midt **/
  margin: auto; /** Centrerer billede **/
  padding-bottom: 2%; /** Mellemrum i bunden **/
  padding-top: 2%; /** Mellemrum i toppen **/
}

.burger {
  width: 30px; /** længdre på mburger ***/
  cursor: pointer; /** Gør menuen klikbar **/
}

.burger .line {
  height: 2px; /** Størrelse på burger streger **/
  background-color: #333333; /** Farve **/
  margin-bottom: 5px; /** Afstand mellem linjer **/
}

.burger {
  display: none; /** Fjerner burger i desktop **/
}

/** FOOTER **/
hr {
  margin-top: 2%;
  margin-bottom: 2%;
  color: grey;
  opacity: 50%;
}

.grid_1-1-1 a {
  text-decoration: none;
  color: black;
  font-family: raleway; /** Font **/
}

.grid_1-1-1 {
  padding-left: 50%;
  margin-bottom: 2%;
}

.footer_1:hover a,
.footer_2:hover a,
.footer_3:hover a {
  color: var(--lilla-color);
}

.grid_1-1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 25%;
  padding-right: 25%;
  font-size: 40px;
}

.grid_1-1_1 a {
  color: black;
}

.footer_samlet {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.linkedin:hover,
.facebook:hover,
.instagram:hover {
  color: var(--lilla-color);
}

@media screen and (max-width: 1052px) {
  .grid_1-1-1 a {
    text-decoration: none;
    font-size: 15px;
  }

  .grid_1-1-1 {
    padding-left: 30%;
    margin-bottom: 2%;
  }
}

@media screen and (max-width: 720px) {
  .grid_1-1-1 a {
    text-decoration: none;
    font-size: 15px;
  }

  .grid_1-1-1 {
    padding-left: 20%;
    margin-bottom: 2%;
  }
}
@media (max-width: 600px) {
  header {
    display: flex;
    justify-content: space-between; /** Menu højre **/

    margin-inline: auto; /** Auto i midten **/
  }

  .logo_2 {
    display: inline; /** Logo_2 synlig i mobil **/
    width: 50px; /** px gør at billede ikke justeres **/
    padding-left: 8%; /** Mellemrum venstre **/
    padding-top: 2%; /** Mellemrum til top **/
  }

  .logo1 {
    display: none; /** Logo_1 forsvinder i mobil **/
  }

  .menu {
    display: none; /** Menu vises **/
    margin-top: -50px; /** Samme afstand til top = px **/
    padding-left: 0%; /** Mellemrum venstre **/
    padding-right: 0%; /** Mellemrum højre **/
  }

  .burger {
    display: block; /** Gør burger-menu synlig **/
    margin-left: -20%; /** Mellemrum venstre **/
    margin-top: 60%; /** Mellemrum til top **/
    padding-bottom: 60%;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px); /** Laver kryds centralt **/
    transition: 0.2s linear; /** Når kryds = glidende **/
  }

  .burger.active .line:nth-child(2) {
    opacity: 0; /** Fjerner streg to i burger så det giver kryds **/
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px); /** Laver kryds centralt **/
    transition: 0.2s linear; /** Når kryds = glidende **/
  }

  nav.active .menu {
    display: block; /** Menu bliver synlig **/
    position: absolute; /** Menu kommer ned **/
    background-color: #ffffff; /** Baggrundsfarve **/
    top: 94px; /** Menu kommer rigtig ned **/
    left: 0; /** Fylder det hele **/
    width: 100%; /** Menu fylder hele skærm **/
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); /** Skygge **/
    z-index: 10; /** Rykker menu frem foran alt**/
  }

  nav.active .menu li {
    margin: 5px 5px; /** Mellemrum mellem links **/
  }

  nav.active .menu a {
    font-size: 15px; /** Skriftstørrelse **/
  }

  .menu a:hover::after,
  .menu a.active::after {
    width: 0%; /** Underlinjen forsvinder **/
  }

  .grid_1-1-1 a {
    text-decoration: none;
    font-size: 11px;
  }

  .grid_1-1-1 {
    padding-left: 5%;
    margin-bottom: 2%;
  }

  .grid_1-1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 20%;
    padding-right: 2%;
    font-size: 20px;
  }
}

/** BACK TO TOP KNAP **/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--knap-color);
  color: white; /** Pil **/
  cursor: pointer; /** Pege **/
  padding: 10px 30px; /* Indvendig afstand */
}

#myBtn:hover {
  background-color: var(--hover-color);
}

.arrow {
  border: solid white; /** Solid for at vise **/
  border-width: 0 3px 3px 0; /** Form **/
  display: inline-block; /** Gør V **/
  padding: 3px; /** Vises **/
}

.up {
  transform: rotate(-135deg); /** Roterer **/
  -webkit-transform: rotate(-135deg);
}

#myBtn:hover .arrow {
  border: solid black; /** Solid for at vise **/
  border-width: 0 3px 3px 0; /** Form **/
  display: inline-block; /** Gør V **/
  padding: 3px; /** Vises **/
}
